@model DigitalRetailersInc.Models.Home.HomeIndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<div id="themeSlider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#themeSlider" data-slide-to="0" class="active"></li>
        <li data-target="#themeSlider" data-slide-to="1"></li>
        <li data-target="#themeSlider" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <div class="imgOverlay"></div>
            <img style="height: 500px; width: 100%;" src="https://cdn.vatanbilgisayar.com/Upload/HTML/PCPOR/ACER/120460/2.jpg" alt="First slide">
            <div class="carousel-caption">
                <h3>Acer Predator Core i7 10750H Notebook</h3>
            </div>
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img style="height: 500px; width: 100%;" src="https://us.dynabook.com/microsite/kira/common/images/kira360/Kira360__01.jpg" alt="Second slide">
            <div class="carousel-caption">
                <h3>Toshiba Kirabook</h3>
            </div>
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img style="height: 500px; width: 100%;" src="https://en.zinggadget.com/wp-content/uploads/2018/11/spectre-featured.jpg" alt="Third slide">
            <div class="carousel-caption">
                <h3>HP Spectre Folio</h3>
            </div>
        </div>
    </div>

    <a class="left carousel-control" href="#themeSlider" data-slide="prev">
        <span class="fa fa-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#themeSlider" data-slide="next">
        <span class="fa fa-chevron-right"></span>
    </a>
</div>

<div class="olContent f1"><h2>Search Product</h2></div>
<form method="post">
    <div class="olSearch fr">
        <input style="height: 44px;" type="text" name="search" placeholder="Enter Keyword" class="inputComn houseText form-control" />
        <div class="searchIcon">
            <button type="submit" class="searchBtn">
                <img style="height: 22px; width: 22px;" src="https://www.freeiconspng.com/thumbs/search-icon-png/search-icon-png-21.png" />
            </button>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Our Products <small>Trending</small></h2>
        </div>
    </div>
</div>

<div class="row product-container">
    @foreach (var item in Model.ListOfProducts)
    {
        <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
            <div class="thumbnail product-item" style="height:320px">

                <img class="img-responsive" title="Click to View Product detail"
                     style="cursor:pointer;height:160px;width:100%"
                     src="@item.laptop_image" />

                <div class="caption">
                    <h5>@item.laptop_name</h5>
                    <p>₹@item.price</p>
                    <p>
                        @if (item.quantity > 0)
                        {
                            using (Html.BeginForm("AddToCart", "Home", new { productId = item.laptop_id }, FormMethod.Post))
                            {
                                <button type="submit" class="pull-right"><i class="fa fa-shopping-cart"></i></button>
                            }
                            <p>Available</p>
                        }
                        else
                        { 
                            <p>Out Of Stock</p>
                        }
                    </p>
                </div>
            </div>
        </div>
    }
</div>
